.page-container {
    width: 100%; /* Use the full width of the viewport */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-title {
    font-size: 24px;
    color: #276749;
    margin-bottom: 24px;
}

.logout-button {
    align-self: flex-end; /* Position logout button on the right */
    padding: 8px 16px;
    margin-bottom: 68px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 50px;
}

.content-container {
    display: flex;
    width: 100%; /* Use the full width of the page-container */
    max-width: 1200px; /* Optional max width for better large screen appearance */
}

.profile-container{
    flex: 1; /* Each container takes up half the space */
    padding: 20px;
    background-color: #f0f9f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    margin-bottom: 500px;
    margin-left: 10px;
}

.addresses-container {
    flex: 1; /* Each container takes up half the space */
    padding: 20px;
    background-color: #f0f9f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    margin-bottom: 500px;
}

.info-item {
    margin-bottom: 10px;
}

.info-label {
    font-weight: bold;
}

.info-value {
    margin-left: 5px;
}

.user-info {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left; /* Aligns all text to the left */
}
