/* WelcomePage.css */
.welcome-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 800px;
    padding: 30px;
    border-radius: 8px;
    background-color: #f0f9f4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;

    /* Centering styles */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.welcome-header {
    font-size: 32px;
    color: #276749;
    margin-bottom: 20px;
}

.success-message {
    background-color: #c6f6d5;
    color: #276749;
    padding: 15px;
    border-radius: 4px;
    margin: 20px 0;
}

.eco-info {
    font-size: 16px;
    line-height: 1.6;
    background-color: #e6fffa;
    color: #2f855a;
    padding: 20px;
    border-left: 4px solid #48bb78;
    border-radius: 4px;
    margin: 20px 0;
}

.link-style {
    color: white;
    background-color: #48bb78;
    padding: 10px 20px;
    border-radius: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 0 10px;
    font-weight: 600;
}

.link-style:hover {
    background-color: #2f855a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* General page background */
body {
    background-color: #edf2f7; /* A soft grey to reduce the contrast */
}
