.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #edf2f7;
}

.register-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 400px;
    width: 100%;
    margin: auto;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: left; /* Align text to the start of the container */
    background-color: #f0f9f4;
}

.register-title {
    font-size: 24px;
    color: #276749;
    margin-bottom: 24px;
    text-align: center;

}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.register-input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.register-input:focus {
    border-color: #48bb78;
    box-shadow: 0 0 0 2px rgba(72, 187, 120, 0.2);
    outline: none;
}

.register-button {
    padding: 12px 20px;
    color: white;
    background-color: #48bb78;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.register-button:hover {
    background-color: #2f855a;
}

.register-button:active {
    background-color: #22543d;
}

